/*  Typeface CSS
font-family: 'Alice', serif;
font-family: 'Lato', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Tenor Sans', sans-serif;
font-family: 'Ultra', serif;
*/



/* Whole Page */
*{
  margin:0px;
}
html {
  scroll-behavior: smooth;
}




/* HTML selectors */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header section {
  background-color:black;
  padding:20px;
  text-align:center;
  font-family: 'Playfair Display', serif;
}

article {
  position:relative;
  top:120px;
  border:10px solid transparent;
}

span {
  position:absolute;
  background-color:lightblue;
  color:black;
  padding:10px;
  top:0px;
  right:0px;
}

nav {
  position:fixed;
  top:0;
  font-family: 'Nunito', sans-serif;
  font-size:15px;
  text-align:center;
  background-image: linear-gradient(rgba(0,90,150,.8),rgba(0,90,150,.7), rgba(0,90,150,0));

  width:100%;
  padding: 20px 0px;
  z-index:10;
}

nav a:hover {
color:#333333;
background-color:white;
font-weight:bold;
}

nav a {
  color:white;
/*  background-color:rgb(5,100,200,.5); */
  margin-right:35px;
  text-decoration:none;
  text-transform:uppercase; 
  padding:5px;
}

article a {
  color:#03a9f4;
  font-family: 'Nunito', sans-serif;
  font-size:13px;
  padding:5px;
  text-decoration:none;
}

article a:hover {
  background-color:#03a9f4;
  color:white;
}

div {
  float:right;
  margin-right:125px;
}


h1 {
  text-transform:capitalize;
  font-size:40px;
  color:white;
}

h2 {
  font-size: 20px;
  font-style:italic;
  color:rgb(200,200,200);
  margin-top:18px;
}

h3 {
  margin-left:50px;
}

h4 {
  margin-bottom:20px;
  margin-left:110px;
  font-size:20px;
  font-style:italic;
}

p {
  margin: 0px 90px 0px 90px;
  padding:20px;
  font-size:15px;
}

footer {
  background-color:lightgreen;
  text-align:center;
}




/* Classes */
 .sectioning {
  justify-content:center;
  height:100vh;
}

.ultra {
  font-family: 'Ultra', serif;
  font-size:50px;
}

.neato {
  font-family: 'Nunito', sans-serif;
  background-color:white;
  color:rgb(70,90,150);
  width:60%;
  height:auto;
  padding:25px;
  margin: auto;
  border:10px solid;
  border-color:lightpink;
}

.playfair {
  font-family: 'Playfair Display', serif;
  font-size:60px;
}

.alice {
  font-family: 'alice', serif;
  background-color:white;
  color:#50C878;
  width:60%;
  height:auto;
  padding:25px;
  margin: auto;
  border:10px solid;
  border-color:#00A36C;
}

.lato {
  font-family: 'lato', sans-serif;
  font-size:60px;
}

.tenor {
  font-family: 'tenor sans', sans-serif;
  background-color:white;
  width:60%;
  padding:25px;
  margin: auto;
  border-color:rgb(0,90,150);

}


/* Links */







/* backgrounds */
.welcome-bg {
  background: url(https://images.unsplash.com/photo-1610454059909-f9a5a6eb4e58?) no-repeat fixed;
  background-size:cover;

}

.pair1-bg {  background:url(https://images.pexels.com/photos/1150988/pexels-photo-1150988.jpeg) no-repeat fixed center;
background-size:cover;
}

.pair2-bg { background:url(https://images.pexels.com/photos/334978/pexels-photo-334978.jpeg) no-repeat fixed;
  background-size:cover;
  background-color:lightyellow;
}

.pair3-bg {
background:url(https://images.pexels.com/photos/1862695/pexels-photo-1862695.jpeg) no-repeat fixed;
  background-size:cover;
}
